body{
    margin: 0 !important;
    padding:  0 !important;
    font-family: 'Roboto', sans-serif;
    background-image: url(/Images/Capture.PNG);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* color: #fff !important; */
}
.carousel{
    margin-top: 4%;
    
}
.carousel-item img{
    height: 600px;
    /* border-radius: 10px !important; */

}
section{
    margin-bottom: 4% ;
}
.plain{
    background-color: rgba(136 , 102, 93, 0.5);
  
    padding: 5% 10% !important;
}
.plan{
    background-color:rgba(142, 85, 114, .5);
  
    padding: 5% 10% !important;
}
/* .plain .phead{
    padding-left: 10% !important;
     margin:0% 10% !important;} */
.plain .row .pimg,
.plan .row .pimg

{
    margin-bottom: 4% ;
    padding-left: 10%;
     }
.plain .row .pimg a img,
.plan .row .pimg a img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .25);
    /* margin-left: 20%; */


}
.plain .row .pimg a img{
   
}
.plain .row .ptext,
.plan .row .ptext{
    /* height: 300px; */
    /* border: 1px solid black; */
}
.plain .row .ptext p,
.plan .row .ptext p{
    /* margin-top: auto !important;
    margin-bottom: auto !important; */
    /* border: 1px solid red; */
    font-size: 20px;
    /* width: 520px; */
    /* padding: 2% ; */
    /* padding-right: 10%; */
    font-weight: 500;
    text-align: justify;
    /* vertical-align: middle !important; */
} 
.plain .row .ptext p,
.plain h4{

    color: #000;
    
}.plan .row .ptext p,
.plan  h4{
    /* color: #fff; */
}
.plain  .heading2,
.plan  .heading2{
    /* padding-left: 2% ; */
    padding-top: 5%;
    font-size: 30px;
    font-size: 36px !important;
    letter-spacing:2px !important;
    font-family: 'Acme', sans-serif;

    /* font-weight: 700 !important; */
    color: #000;
}
.plain  .heading1{
    font-size: 30px;
    /* padding-left: 5%; */
    padding-bottom: 5%;
    display: none;
    font-size: 36px !important;
    letter-spacing:3px !important;
    font-family: 'Acme', sans-serif;

    /* font-weight: 700 !important; */
    color: #000;
}
    
    /* display: none; */


@media screen and (max-width: 480px){
    .plain .heading1{
      display: block;
        }

      .plain .heading2{
          display: none;
      }
      .plain .row .pimg,
      .plan .row .pimg{
          padding-left: 4%;
      }

}
